@CHARSET "UTF-8";

@font-face {
	font-family: Oranienbaum;
	src: url('/fonts/Oranienbaum.ttf');
}

* { margin: 0; padding: 0; }
.wrapper{display:table;overflow:hidden;margin:0px auto;}
*:first-child+html .wrapper {position:relative;}/*ie7*/
* html .wrapper{position:relative;}/*ie6*/

.dc_container{display:table-cell;vertical-align: middle;}
*:first-child+html .dc_container{position:absolute;top:50%;}/*ie7*/
* html .dc_container{position:absolute;top:50%;}/*ie6*/

*:first-child+html .div-centered{position:relative;top:-50%;}/*ie7*/
* html .div-centered{position:relative;top:-50%;}/*ie6*/

html,body{height:100%;}
.wrapper{height:100%;}

#header
{
	background-color: #E6E6E6; 
	height: 40px;
	width: 100%;
	margin: 0px auto;
	margin-bottom:-40px;
}

#sub-header
{
	
	
	width: 800px; /*for some reason this does not work*/
	margin: 0px auto;
}

#sub-header a
{
	font: 20px Oranienbaum "Arial", Helvetica, sans;
	color: #848484;
	text-decoration: none;
}

#logo-link
{
	float: left;
	margin-left: 20px;
	text-color: #00FFFF !important; 
}

#top-bar
{
	float:right;
	margin-right: 20px;
}

#only-proverb
{
	width:750px;
}

#only-proverb p
{
	text-align: center;
	font: 40px Oranienbaum "Arial", Helvetica, sans;
}